* {
  margin: 0;
  padding: 0;

}
@page {
  size: 595px 841px;
  margin: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue'
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
  font-family: 'Campton Bold';
  src: url('../public/fonts/CamptonMedium.otf') format('opentype');
  /* Diğer formatlar için eklemeler yapılabilir (woff, woff2 gibi) */
 
  font-style: normal;
}